.contenido{
    width: 90%;
    margin: 0 auto;
    margin-top: 3%;
    text-align: justify;
}
#header {
    padding: 5px;
    background: #01DF01;
}
.dropdown:hover > .dropdown-menu{
    display: block;
}
.porc_general{
    width: 94%;
}
.porcentaje_5{
    width: 5%;
}
.porcentaje_10{
    width: 10%;
}